/*******************************************************************/
/* base page styles */
header {
	background-color: rgb(255, 230, 200);
	padding: 2%;
}

main {
	background-color: rgb(255, 240, 220);
	padding: 1%;
	margin: 1%;
}

a {
	text-decoration: none;
}
/*******************************************************************/
/* common classes */

.inline {
	display: inline;
}


/*******************************************************************/
/* tables */
table {
	border-collapse: collapse;
/*	border: 1px solid gray;*/
	width: 100%;
	margin: 1em 0;
}

table td, th {
	border: 1px solid gray;
	padding: 1eM 0.5%;
}

table th {
		background-color: lightgray;
}

table td {
}


/*******************************************************************/
/* FORMS */

fieldset {
	display: block;
	padding: 1eM 2%;
}

fieldset label {
	clear: both;

	display: block;
	float: left;
	
	min-width: 15%;
	margin: 0.5eM 2%;
}

fieldset input {
	display: block;
	float: left;

	min-width: 10%;
	margin: 0 2%;
}

fieldset input[type=checkbox] {
	float: left;
	display: block;
	min-width: 1eM;
}

fieldset textarea {
	clear: both;
	display: block;
	width: 80%;
	min-height: 20eM;
	margin: 1em 2%;
}

.buttons-panel {
	clear: both;
	display: block;
	height: 3eM;
	padding: 1eM 0;
}

.buttons-panel input {
	display: inline;
	height: 3eM;
}

fieldset span.note {
	display: block;
	float: left;
	font-style: italic;
}


/********************************************************************/
/* Success / Error panels */
.panel {
	clear: both;
	padding: 1eM 2%;
	margin: 0.5eM 0%;
}

.success {
	color: #004000;
	background-color: #F0FFF0;
}
.failure {
	color: #804000;
	background-color: #FFF8F0;
}

.critical-error {
	color: #800000;
	background-color: #FFE0E0;
}

/********************************************************************/
/* Custom styles */
table tr.inactive {
	background-color: gray;
}

a.change-order-link {
	font-size: 80%;	
	font-weight: bold;
}
